@import '../config/layout';

.productCard {
  @include flex($justify: center, $direction: column, $alignC: flex-end)
  margin: 30px 50px;
  padding: 5px;
  .asciiFace{
    min-height: 60px;
  }
  p {
    text-align: center
  }

  .productId {
    margin: 2 0;
  }

  div {
    @include flex($justify: center)

    p {
      padding: 3px;
    }

    .productPrice {
      margin: 0 5px 0 0;
    }

    .productDate {
      text-align: right;
      margin: 0 0 0 5px;
    }

  }

}
